{% extends '@layout/default.html.twig' %}

{% block content %}

    {% include '@app/tag/_form-elements.html.twig' %}

    {% do form.get('submit').setAttribute('class', 'btn btn-success').setLabel('Adicionar') %}

    {% do form.setAttribute('action', url('tag.create')) %}
    {% do form.prepare() %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9 col-lg-2 col-lg-offset-10">
                        <a href="{{ url('tag.list') }}" class="btn btn-block btn-primary">
                            <i class="fa fa-reply"></i> Voltar
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    {{ form().openTag(form) | raw }}

                    {% include '@app/tag/_form.html.twig' %}

                    {{ form().closeTag() | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block title %}
    Cadastro de Tag - {{ parent() }}
{% endblock %}

{%  block page_header %}
    Cadastro de Tag
{% endblock %}
